/* Basic Reset*/
{
	margin: 0;
	padding: 0:
}
body {
	font-family: Arial, sans-serif;
	background-color: blue;
	text-align: center;



}

header {
	background-color:  black;
	color: black;
	padding: 15px;
}

.nav-links {
	display: flex;
	list-style: none;
	justify-content: center;
}

.nav-links li {
	 padding: 15px;
}

.nav-links a {
	color: orange;
	text-decoration: none;
	font-size: 30px;
	
}

.nav-links a:hover {
	color: yellow;
	font-size: 60px;
}


/*.nav-links: a:visited {
	color: white;
}*/

.content {
	display: flex;
	padding: 20px;
	background-color: orange;
	width:   800px;
}

.box{
	padding: 15px;
	width: 200px;
	background-color: pink;
	text-align: center;
}

.box2{
	background-color: yellow;
	padding: 15px;
	height: 500px;
	text-align: center;
}

.box3{
	background-color: white;
	padding: 15px;
	width: 200px;
}





	@media (max-width: 760px){
		.nav-links {
		

	flex-direction: column; 
	
	}
	.content {
		flex-direction: column;
	}

